.memory__card {
  aspect-ratio: 0.689 / 1;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s;
  border: 2px solid maroon;
}

.memory__card--revealed {
  transform: rotateY(180deg);
}

.memory__card_front,
.memory__card_back {
  /* Textura da parte de trás da carta: "Backgrounds" por Écrivain, licensa CC0 1.0 DEED: https://opengameart.org/content/backgrounds-0 */
  background-image: url(../img/card-back.png);
  position: absolute;
  content: "";
  inset: 2px;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  backface-visibility: hidden;
}

.memory__card_front {
  transform: rotateY(180deg);
  background-color: white;
}

/* Textura da parte da frente das cartas, licensiadas em domínio público, obtidas em https://code.google.com/archive/p/vector-playing-cards/ */
.memory__card_front--foreground-0 {
  background-image: url(../img/foreground-0.svg);
}
.memory__card_front--foreground-1 {
  background-image: url(../img/foreground-1.svg);
}
.memory__card_front--foreground-2 {
  background-image: url(../img/foreground-2.svg);
}
.memory__card_front--foreground-3 {
  background-image: url(../img/foreground-3.svg);
}
.memory__card_front--foreground-4 {
  background-image: url(../img/foreground-4.svg);
}
.memory__card_front--foreground-5 {
  background-image: url(../img/foreground-5.svg);
}
