.memory__game-over {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Textura gerada no site https://www.noisetexturegenerator.com */
  background-image: url(../img/noise.png);
}

.memory__game-over__play-again {
  padding: 5px 10px;
  border-radius: 999px;
}

.memory__game-over--show {
  display: flex;
}
